<!-- string interpolation -->
<!-- <img src={{path}} alt="no image">
<h2>{{city}}</h2>
<h1>{{title}}</h1>
<h1 class={{cname}}>{{name}}</h1>
<h2>{{d}}</h2> -->

<!-- property binding -->
<!-- <div class="divid">
    Mobile:<input type="text">
    Age:<input type="number" [hidden]=ishidden>
<button [disabled]=isdisabled>Submit</button>
</div>
<img [src]=path alt="no img"> -->

<!-- class binding -->
<!-- <h2 [class]="isactive?'active':'inactive'">Intern at Dedalus</h2>
<h2 [class]="['c1','active']">Angular training</h2>
<h2 [class.active]=isactive>Angular training</h2> -->

<!-- Style Binding -->
<!-- <h1 style="color:{{cvar}}">Hi guys!</h1> -->
<!-- <h1 [style.color]="cvar">Hi guys!</h1> -->
<!-- <h1 [style]="mystyle">Hi guys!</h1> -->
<h1 [style.color]="haserror?'red':'green'">Hi guys!</h1>